<html>
@model LibraryWebApp.Models.IndexViewModel
@{
    ViewBag.Title = "IndexUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
<style type="text/css">
   .dt{
      font-weight:800;
      font-size: 20px;
      font-style: oblique;
      margin-top:-3px;
    
   }
   .dd{
       color:brown;
       font-size: 14px;
       font-weight: bold;
      
   }
   #a{
       text-align: center;
       font-size: 30px;
       font-weight: bolder;
   }
   #b{
     font-size: 22px;
     font-weight: bolder;
     margin-left: 60px;
   }
    #btnclick{
        margin-left:1000px;
        margin-top: -200px;
    }
    #ftr{
        background-image: url(images/11.png);
        border-radius: 20px;
        background-position: center;
        background-size:contain;
        height:50px;

    }
   
    .contact{
        font-weight: bold;
        margin-left: 20px;
        margin-top: -200px;
    }

    #c1{
        margin-left: 60px;
    }
    #c2{
        margin-left: 150px;
    }
    #c3{
        margin-left: 156px;
    }
    #c4{
        margin-left: 150px;
    }
    #c{
        margin-left: 60px;
        margin-bottom: -50px;
       
    }
    #d2{
        margin: 170px;
        width: 70px;
    }
    #d3{
        margin-left: -155px;
    }
    #d5{
        margin-left: 120px;
    }
    #a{
        background-image: url(images/12.jpg);
        background-repeat: no-repeat;
        border-radius: 20px;
        height: 50px;
        padding: 10px;
        color: black;
    }
</style>
    </head>
<body>
<h2 id="a">Welcome to users section</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4 id="b">You're personal data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt class="dt">Password:</dt>
        <dd class="dd">
            [
            @if (Model.HasPassword)
            {
                @Html.ActionLink("Change your password", "ChangePassword")
            }
            else
            {
                @Html.ActionLink("Create", "SetPassword")
            }
            ]
        </dd>
        <dt class="dt">User: </dt>
        <dd class="dd">@User.Identity.Name</dd>
        <dt class="dt">User Role:</dt>
        <dd class="dd">
            === User ===
        </dd>
    </dl>

    <div id="divpopup" style="display:none">
        <p>Do you accept following rules to become a member: 
            <ul>
                <li>sdfdsffsdsdffsdfds</li>
                <li>asddsadsadsasdasdads</li>
                <li>asddddddddddsaasd</li>
            </ul>
        </p>
    </div>

</div>

<button id="btnclick" class="btn btn-default" type="submit">Become a member</button>
    <footer id="ftr">
        <span id="c1" class="contact">Our fb-page:</span>
        <span id="c2" class="contact">Address:</span>
        <span id="c3" class="contact">Phone: </span>
        <span id="c4" class="contact">E-mail:</span>

        <div id="c">
        <span id="d1"><a href="https://www.facebook.com/britishlibrary/?ref=br_rs">Click here</a></span>
        <span id="d2">st. Partizanski Odredi bb. Skopje </span>
        <span id="d3">078-123-456</span>
        <span id="d5">libary.lib.gmail.com</span>
            </div>
    </footer>
    </body>

</html>
@section scripts{
<link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css"/>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.8.2.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>

    <script type="text/javascript">
        $(function () {
            $("#btnclick").click(function () {
                $("#divpopup").dialog({
                    title: "Become member",
                    width: 430,
                    height: 200,
                    buttons: {
                        Accept: 
                            function() {
                                window.open('/Account/Register');
                            },
                       
                        Close: 
                            function() {
                                $(this).dialog("close");
                            }
                        }
                    
                });

            });

        });
    </script>
    
    }