@{
    ViewBag.Title = "About";
}

<div id="container" class="container">
    <div class="row bg-primary">
        <div class="text-center col-sm-12">
            <h3>@ViewBag.Title</h3>
        </div>
    </div>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
</div>