@{
    ViewBag.Title = "Contact";
}
<div id="container" class="container">
    <div class="row bg-primary">
        <div class="text-center col-sm-12">
            <h3>@ViewBag.Title</h3>
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p><strong>Our Address: st. Partizanski Oredi bb. Skopje</strong></p>
            <p><strong>Our E-mail:contact@libarywebapp.com</strong></p>
            <p><strong>Our Phone: (+389) 71 234 567</strong></p>
        </div>
    </div>

    <address>
        <strong>Support:</strong> <a href="mailto:Support@example.com">Supportlibarywebapp.com</a><br/>
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">MarketingWebApp.com</a>
    </address>
</div>