@{
    ViewBag.Title = "Contact";
}
<div id="container" class="container">
    <div class="row bg-primary">
        <div class="text-center col-sm-12">
            <h3>@ViewBag.Title</h3>
        </div>
    </div>

    <br /><br />

    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <p><strong>Our Address: st. Partizanski Oredi bb. Skopje</strong></p>
            <p><strong>Our Phone: (+389) 71 234 567</strong></p>
            <p><strong>Our E-mail: <a href="mailto:contact@libarywebapp.com">contact@libarywebapp.com</a></strong></p>
        </div>
    </div>

    <address>
        <strong>Support: <a href="mailto:support@librarywebapp.com">support@librarywebapp.com</a></strong><br />
        <strong>Marketing: <a href="mailto:marketing@librarywebapp.com">marketing@librarywebapp.com</a></strong>
    </address>
</div>