@model IEnumerable<LibraryWebApp.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="container">
    <div class="row bg-primary">
        <div class="col-sm-12 text-center">
            <h3>B O O K S</h3>
        </div>
    </div>

    <div class="clearfix">
        <br/>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 navbar-right">
            @using (Html.BeginForm("Search", "Books", FormMethod.Post, new {@class = "form-inline"}))
            {
                <div class="form-group">
                    <span>Search for a book:</span>
                    <input type="search" placeholder="Enter the book title" class="form-control" name="query"/>
                    <input type="submit" value="Search" class="btn btn-primary btn-sm"/>
                </div>  
            }
        </div>
    </div>

    <div class="clearfix">
        <br/>
        <br/>
    </div>

    <div class="row">
        @foreach (var book in Model)
        {
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 text-center cc">
                <a href="/Books/Details/@book.Id">
                    <img src="@book.CoverURL" class="img-responsive right" style="max-width: 200px; max-height: 200px; float: left;"/>
                </a>

                <br/>
                <p>
                    <strong>Book Title: @book.Title</strong>
                </p>
                @foreach (var author in book.Authors)
                {
                    <p>
                        <strong>Author:</strong> <a href="/Authors/Details/@author.Id">@author.Name</a>
                    </p>
                }
                <br/><br/><br/>

                <p class="l">
                    <a href="/Books/Edit/@book.Id">
                        <buttom class="btn btn-primary">Edit</buttom>
                    </a>
                    <a href="/Books/Delete/@book.Id">
                        <button class="btn btn-primary">Delete</button>
                    </a>
                    <a href="/Books/Details/@book.Id">
                        <button class="btn btn-primary">Details</button>
                    </a>
                </p>
            </div>
        }
    </div>
</div>

@section styles {
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/BooksIndexCss.css")"/>
    <link type="text/css" rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css"/>
}