@model IEnumerable<LibraryWebApp.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container" class="container">
    <div class="row bg-primary">
        <div class="col-sm-12 text-center">
            <h3>B O O K S</h3>
        </div>
    </div>

    <div class="clearfix">
        <br/>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 navbar-right">
            <div class="form-inline">
                <div class="form-group">
                    <label for="search" style="cursor: pointer;">Search for a book:</label>
                    <input id="search" type="search" placeholder="Enter the book title" class="form-control" name="query"/>
                </div>
            </div>
        </div>
    </div>

    <div class="clearfix">
        <br/>
        <br/>
    </div>

    <div class="row">
        <div id="basic">
            @foreach (var book in Model)
            {
                <div class="column" style="background-color: lightcyan">
                    <img src="@book.CoverURL" class="img-responsive center-block"/>

                    <p class="text-center">
                        <strong>Book Title: @book.Title</strong>
                    </p>

                    @foreach (var author in book.Authors)
                    {
                        <p class="text-center">
                            <strong>Author:</strong> <a href="/Authors/Details/@author.Id">@author.Name</a>
                        </p>
                    }

                    <p class="text-center">
                        @if (User.IsInRole("Admin") || User.IsInRole("Staff"))
                        {
                            <a href="/Books/Edit/@book.Id" class="btn btn-primary">Edit</a>
                            <a href="/Books/Delete/@book.Id" class="btn btn-primary">Delete </a>
                        }
                        <a href="/Books/Details/@book.Id" class="btn btn-primary">Details</a>
                    </p>
                </div>
            }
        </div>
        <div id="results"></div>
    </div>

</div>

@section styles
{
    <link rel="stylesheet" type="text/css" href="@Href("~/Content/BooksIndexCss.css")"/>
}

@section scripts
{
    <script type="text/javascript">
        $(document).ready(function() {
            $("#results").hide();

            $("#search").on("keyup",
                function() {
                    var query = $(this).val();
                    console.log(query);
                    $("#basic").hide();
                    $("#results").empty();
                    $("#results").hide();

                    if (query !== "") {
                        $.post("/Books/Search",
                            { query: query },
                            function (response) {
                                console.log(response);
                                for (var i = 0; i < response.length; ++i) {
                                    $("#results").append(
                                        '<div class="column" style="background-color: lightcyan">' +
                                            '<img src="' + response[i].CoverUrl + '" class="img-responsive center-block"/>' +
                                            '<p class="text-center">' +
                                                '<strong>Book Title: ' + response[i].Title + '</strong>' +
                                            '</p>' +
                                            '<p class="text-center">' +
                                                '<a href="/Books/Edit/' + response[i].Id + '" class="btn btn-primary">Edit</a>' +
                                                '<a href="/Books/Delete/' + response[i].Id +'" class="btn btn-primary">Delete</a>' +
                                                '<a href="/Books/Details/' + response[i].Id + '" class="btn btn-primary">Details</a>' +
                                            '</p>' +
                                        '</div>');
                                }
                            });
                        $("#results").fadeIn(500,
                            function() {
                                $(this).show();
                            });

                    } else {
                        $("#results").empty();
                        $("#results").hide();
                        $("#basic").fadeIn(500,
                            function() {
                                $(this).show();
                            });
                    }
                });
        });
    </script>
}