body {
    background-color: antiquewhite;
}

#headerDetails{
    background-color: blue;
    height: 70px;
    margin-top:80px;
}

#ht{
    color: white;
    font-weight: bolder;
    padding: 10px;
    text-align: center;

}
  
#container{
    background-color: white;
    height:940px;
    margin-top: -20px;
}

#editions {
    padding: 30px;
    margin-left: 50px;
}

#bookImg{
    margin-left: 30px;
}

.warper{
    border: 2px dotted gray;
    width: 30%;
    height: 300px;
}

#recomended{
    font-weight: bolder;
    color: firebrick;
    font-size: 22px;
}


