body {

}

#bdt{
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: goldenrod;
    background-image: url(../images/17.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 45px;
    border-radius: 20px;
    padding: 4px

}

.dt{
    color: darkblue;
}