body {
    background-color: antiquewhite;
 
}


#container {
    background-color: white;
}

.cc{
    border: 1px solid black;
    float:left;
    padding: 5px;
   
    
    
}

.l{
    font-size: x-small;
}