.dt {
    font-weight: 800;
    font-size: 20px;
    font-style: oblique;
    margin-top: -3px;
    color: darkblue;
}

.dd {
    color: brown;
    font-size: 14px;
    font-weight: bold;
    color: darkgoldenrod;
}

#a {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    background-image: url(../images/14.jpeg);
    background-size: contain;
    border-radius: 20px;
    height: 50px;
    padding: 10px;
    color: darkblue;
}

#b {
    font-size: 22px;
    font-weight: bolder;
    margin-left: 60px;
    color: darkblue;
}