.dt {
    font-weight: 800;
    font-size: 20px;
    font-style: oblique;
    margin-top: -3px;
    color: darkblue;
}

.dd {
    color: brown;
    font-size: 14px;
    font-weight: bold;
    color: darkgoldenrod;
}

#a {
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
 
}

#b {
    font-size: 22px;
    font-weight: bolder;
    margin-left: 60px;
    color: darkblue;
}

#btnclick {
    margin-left: 1000px;
    margin-top: -200px;
}

#ftr {
    background-image: url(../images/11.png);
    border-radius: 20px;
    background-position: center;
    background-size: contain;
    height: 50px;
}

.contact {
    font-weight: bold;
    margin-left: 20px;
    margin-top: -200px;
}

#c1 {
    margin-left: 60px;
}

#c2 {
    margin-left: 150px;
}

#c3 {
    margin-left: 156px;
}

#c4 {
    margin-left: 150px;
}

#c {
    margin-left: -240px;
    margin-bottom: -50px;
}

#d1 {
    margin-left: -560px;
}

#d2 {
    margin-top: -30px;
    margin-left: -94px;
}

#d3 {
    margin-left: 330px;
    margin-top: -30px;
}

#d4 {
    margin-left: 730px;
    margin-top: -30px;
}

#a {
    background-image: url(../images/14.jpeg);
    background-size: contain;
    border-radius: 20px;
    height: 50px;
    padding: 10px;
    color: darkblue;
}

#points{
    border: 2px solid;
    width: 220px;
    border-color: darkblue;
    padding: 9px;
    font-weight: bold;
    font-size: 20px;
    margin-left: 900px;
    color: darkgoldenrod;
    
}



