* {
    box-sizing: border-box;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: antiquewhite;
}

#container {
    background-color: white;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#ftr {
    background-image: url(../images/11.png);
    background-position: center;
    background-size: contain;
    background-repeat: repeat-x;
}

.dropdown-menu {
    background-color: #222;
}

.dropdown-menu li a {
    color: #9d9d9d;
}

.dropdown-menu li a:hover {
    background-color: transparent;
    color: white;
}

