body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#ftr {
    background-image: url(../images/11.png);
    border-radius: 20px;
    background-position: center;
    background-size: contain;
    height: 50px;
}

.contact {
    font-weight: bold;
    margin-left: 20px;
    margin-top: -200px;
}

#c1 {
    margin-left: 60px;
}

#c2 {
    margin-left: 150px;
}

#c3 {
    margin-left: 156px;
}

#c4 {
    margin-left: 150px;
}

#d1 {
    margin-left: -560px;
}

#d2 {
    margin-top: -30px;
    margin-left: -94px;
}

#d3 {
    margin-left: 330px;
    margin-top: -30px;
}

#d4 {
    margin-left: 730px;
    margin-top: -30px;
}
